@charset "utf-8";

body {
    background: #FAF9F8;
}


.bg_wrap1 {
    background-image: url(../images/pc_main_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_rgba1 .concept1 {
    position: relative;
}

.bg_rgba1::before {
    background: rgba(49, 16, 51, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 65%);
}

/* 半透過背景の位置調整ができない。ちょっとconcept2とかぶってる */

.header01 {
    height: 100vh;
    position: relative;
}

.header01 img {
    width: 100%;
}


.header_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 80px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    max-width: 427px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pc_nav ul li,
.concept1 p,
.concept2 p {
    color: #fff;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.pc_nav ul li {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

.concept1 img {
    width: 224px;
    margin-right: 215px;
}

.concept1 {
    display: flex;
    justify-content: space-between;
    margin-left: 215px;
}

.concept_text1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 3;
}

.concept_text2 {
    font-size: 24px;
    line-height: 3;
    margin-bottom: 96px;
}

.concept_text3 {
    line-height: 3;
    margin-bottom: 327px;
}

.bg_wrap2 {
    background-image: url(../images/pc_main_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_rgba2 .concept2 {
    position: relative;
}

.bg_rgba2::before {
    background: rgba(49, 16, 51, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.concept2 {
    max-width: 1280px;
    height: 100vh;
    margin-left: 215px;
}

.concept2 img {
    width: 40%;
    margin: 80px 0;
}

.concept_text4 {
    font-size: 24px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 64px;
    line-height: 1;
    text-align: center;
    margin-top: 172px;
}

.subtitle {
    text-align: center;
    margin-bottom: 32px;
}


.pc_top_about {
    margin-bottom: 32px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction div {
    text-align: right;
}

.introduction img {
    margin-left: 64px;
}

/* introductionの要素右揃えしたい */



.ex_slider_wrap {
    display: flex;
    overflow: hidden;
}

.experience {
    position: relative;
    margin-top: 172px;
}

/* スライダーの上にex_boxを置きたい */


.experience {
    margin-bottom: 254px;
}

.ex_box {
    background: #FAF9F8;
    content: '';
    width: 504px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ex_slider {
    animation: scroll-left 40s infinite linear .5s both;
    display: flex;
}

.ex_slide {
    width: calc(100vw / 3);
    /* 3はスライドの枚数 */
    text-align: center;
    margin-right: 64px;
}

.ex_number {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 1;
    color: #A65871;
    margin-top: 16px;
}

.ex_title {
    font-size: 24px;
    margin-top: 16px;
}

.ex_slide img {
    display: block;
    width: 100%;
}

/* CSSアニメーション */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.bg_wrap3 {
    background-image: url(../images/pc_footer_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.works_container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.works_title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
}

/* 右が切れている */

.works_item {
    margin-bottom: 152px;
}

.item_01 {
    margin-top: 80px;
    margin-left: 160px;
    width: 480px;

}

.item_02 {
    text-align: right;
    margin-top: -400px;
}

.item_03 {
    text-align: right;
    margin-top: -300px;
    margin-right: 80px;
}

.item_04 {
    margin-top: -40px;
}

.contact_group {
    max-width: 1280px;
    margin: 215px 0 120px 80px;
}

.contact_title {
    color: #fff;
    text-align: left;
    margin-bottom: 24px;
}

.contact_container {
    text-align: left;
}

/* お問い合わせボタンが左寄せにならない */

.contact_group p {
    color: #fff;
}

.footer_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

footer>div {
    margin-left: 80px;
}

.footer_group>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_group img {
    width: 240px;
    margin-right: 80px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    margin-left: 80px;
    padding-bottom: 24px;
}

/* View Moreボタン グレー文字 */
.button_more01 a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    border: solid 1px #474747;
    border-radius: 999px;
    display: block;
    box-sizing: border-box;
    max-width: 176px;
    text-align: center;
    padding: 24px 40px 24px 24px;
    margin-top: 24px;
    margin-inline: auto;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.button_more01 a:hover {
    color: #fff;
    background: #A65871;
    transition: all 0.3s;
}

.button_more01 a::before {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 0;
    content: "";
    height: 10px;
    margin: auto;
    position: absolute;
    right: 40px;
    top: 0;
    transform: rotate(45deg);
    transition: right .5s;
    width: 10px;
}

.button_more01 a:hover::before {
    right: 35px;
}

/* View Moreボタン 白文字 */
.button_more02 a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 999px;
    display: block;
    box-sizing: border-box;
    max-width: 176px;
    text-align: center;
    padding: 24px 40px 24px 24px;
    margin-top: 24px;
    margin-inline: auto;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.button_more02 a:hover {
    color: #A65871ff;
    background: #fff;
    transition: all 0.3s;
}

.button_more02 a::before {
    border-right: 1px solid #A65871ff;
    border-top: 1px solid #A65871ff;
    bottom: 0;
    content: "";
    height: 10px;
    margin: auto;
    position: absolute;
    right: 40px;
    top: 0;
    transform: rotate(45deg);
    transition: right .5s;
    width: 10px;
}

.button_more02 a:hover::before {
    right: 35px;
}


/* お問い合わせボタン */
.button_contact a {
    font-size: 24px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 999px;
    display: block;
    box-sizing: border-box;
    max-width: 240px;
    text-align: center;
    padding: 24px 40px 24px 24px;
    margin-top: 24px;
    margin-inline: auto;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.button_contact a:hover {
    color: #A65871;
    background: #fff;
    transition: all 0.3s;
}

.button_contact a::before {
    border-right: 1px solid #A65871;
    border-top: 1px solid #A65871;
    bottom: 0;
    content: "";
    height: 10px;
    margin: auto;
    position: absolute;
    right: 40px;
    top: 0;
    transform: rotate(45deg);
    transition: right .5s;
    width: 10px;
}

.button_contact a:hover::before {
    right: 35px;
}