@charset "utf-8";

body {
    background: #FAF9F8;
}


.bg_wrap1 {
    background-image: url(../images/pc_main_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_rgba1 .concept1 {
    position: relative;
}

.concept1::before {
    background: rgba(49, 16, 51, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.header01 {
    height: 100vh;
    position: relative;
}

.header01 img {
    width: 100%;
}


.header_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 80px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    max-width: 427px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:767px) {
    h1 {
        width: 200px;
    }
}

.pc_nav ul li,
.concept1 p,
.concept2 p {
    color: #fff;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.header_wrap>nav ul {
    gap: 64px;
}


.pc_nav ul li {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

.concept1 {
    padding: 0 10px;
}

.concept1 img {
    width: 224px;
}

.concept1>div {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.concept_text1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 3;
    margin-top: 240px;
}

.concept_text2 {
    font-size: 24px;
    line-height: 3;
    margin-bottom: 96px;
}

.concept_text3 {
    line-height: 3;
    margin-bottom: 327px;
}


@media screen and (max-width:767px) {
    .concept1>div {
        margin: 0 30px;
    }


    .concept_text1 {
        font-size: 24px;
        margin-top: 96px;
    }

    .concept_text2 {
        font-size: 16px;
        margin-bottom: 48px;
    }

    .concept_text3 {
        font-size: 12px;
        margin-bottom: 96px;
    }

    .concept1 img {
        display: none
    }
}


/* スクロースアニメーション */
/* アイコン全体の基本設定（固定位置） */
.scroll-container {
    position: fixed;
    right: 80px;
    bottom: 80px;
    z-index: 100;
    width: 136px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* 最初は白い矢印 */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, color 0.5s;
}

/* 表示させるためのクラス（第1・第3段階で使用） */
.scroll-container.is-visible {
    opacity: 1;
    visibility: visible;
}

/* ピンク色への切り替え（第3段階で使用） */
.scroll-container.is-active {
    color: #A65871;
}

/* ABOUT以降（ピンク・上向き）の状態 */
.scroll-container.is-active {
    color: #A65871;
    /* ピンクの矢印に変更 */
}

/* サークルの回転設定 */
.scroll-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate-circle 10s linear infinite;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 矢印のデザイン（共通） */
.scroll-container::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
}

/* --- 下向き矢印（初期） --- */
.scroll-container:not(.is-active)::after {
    transform: rotate(225deg);
    /* 下に向ける */
    animation: move-down 1.5s ease-out infinite;
}

/* --- 上向き矢印（ABOUT以降） --- */
.scroll-container.is-active::after {
    transform: rotate(45deg);
    /* 上に向ける */
    animation: move-up 1.5s ease-out infinite;
}


/* 下向きに動くアニメーション */
@keyframes move-down {
    0% {
        opacity: 0;
        transform: translateY(-15px) rotate(225deg);
    }



    50% {
        opacity: 1;
        transform: translateY(0) rotate(225deg);
    }

    100% {
        opacity: 0;
        transform: translateY(15px) rotate(225deg);
    }
}

/* 上向きに動くアニメーション */
@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(15px) rotate(45deg);
    }

    50% {
        opacity: 1;
        transform: translateY(0) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translateY(-15px) rotate(45deg);
    }
}



.bg_wrap2 {
    background-image: url(../images/pc_main_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_rgba2 {
    position: relative;
}

.bg_rgba2::before {
    background: rgba(49, 16, 51, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.concept2 {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    padding: 0 10px;
}

.concept2 div img {
    width: 100%;
    margin: 120px 0 80px;
}

.concept_text4 {
    font-size: 24px;
    margin-bottom: 160px;
}

@media screen and (max-width:767px) {
    .concept2>div {
        margin: 0 30px;
    }

    .concept2 div img {
        margin-top: 96px;
    }

    .concept_text4 {
        font-size: 14px;
        margin-bottom: 96px;
    }
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-size: 64px;
    line-height: 1;
    text-align: center;
    margin-top: 172px;
}

.subtitle {
    text-align: center;
    margin-bottom: 32px;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 32px;
        margin-top: 96px;
    }

    .subtitle {
        font-size: 12px;
    }
}


.pc_top_about {
    margin-bottom: 32px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction div {
    text-align: right;
}

.introduction img {
    margin-left: 64px;
}

@media screen and (max-width:767px) {
    .pc_top_about {
        margin: 0 30px;
    }

    .introduction {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
    }

    .introduction img {
        width: 55%;
        margin-bottom: 32px;
    }
}


.ex_slider_wrap {
    display: flex;
    overflow: hidden;
}

.experience {
    position: relative;
    margin: 172px 0 254px;
}

.ex_box {
    background: #FAF9F8;
    content: '';
    width: 504px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.ex_box>h2 {
    margin-top: 96px;
}

.ex_text {
    margin: 48px auto;
    text-align: center;
}

.ex_box .button_more01 a {
    margin-inline: auto;
}

.ex_slider {
    animation: scroll-left 40s infinite linear .5s both;
    display: flex;
}

.ex_slide {
    width: calc(100vw / 3);
    /* 3はスライドの枚数 */
    text-align: center;
    margin-right: 64px;
}

.ex_number {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 1;
    color: #A65871;
    margin-top: 16px;
}

.ex_title {
    font-size: 24px;
    margin-top: 16px;
}

.ex_slide img {
    display: block;
    width: 100%;
}

@media screen and (max-width:767px) {
    .experience {
        display: flex;
        flex-direction: column;
        margin-bottom: 160px;
    }

    .ex_box {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    .ex_slider {
        animation: none;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .ex_slider:nth-of-type(2) {
        display: none;
    }

    .ex_slide {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .ex_slide>p {
        font-size: 16px;
    }
}



/* CSSアニメーション */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.bg_wrap3 {
    background-image: url(../images/pc_footer_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.works_container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.works_title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1000px;
    padding: 0 10px;
}

@media screen and (max-width:767px) {
    .works_title img {
        width: 85%;
    }
}

.works_item {
    margin-bottom: 152px;
}

.group1 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.group2 {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.item_02 {
    margin-top: 480px;
    padding-left: 30px;
}

.group2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.item_03 {
    margin-top: 40px;
    padding-left: 40px;
}


.contact_group {
    max-width: 1280px;
    margin: 215px 0 120px 80px;
}

.contact_title {
    color: #fff;
    text-align: left;
    margin-bottom: 24px;
}

.contact_container {
    text-align: left;
}

.contact_group p {
    color: #fff;
}

.button_contact {
    display: flex;
}


/* フッター共通 */
.footer_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

footer>div {
    margin-left: 80px;
}

.footer_group>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.footer_group>div>nav {
    width: 100%;
}

.footer_group img {
    width: 16%;
    margin-right: 80px;
    padding-left: 10px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    margin-left: 80px;
    padding-bottom: 24px;
}


@media screen and (max-width:767px) {
    .works_title img {
        width: 85%;
    }
}


/* View Moreボタン グレー文字 */
.button_more01 a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    border: solid 1px #474747;
    border-radius: 999px;
    display: block;
    box-sizing: border-box;
    max-width: 176px;
    text-align: center;
    padding: 24px 40px 24px 24px;
    margin-top: 24px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.button_more01 a:hover {
    color: #fff;
    background: #A65871;
    transition: all 0.3s;
}

.button_more01 a::before {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 0;
    content: "";
    height: 10px;
    margin: auto;
    position: absolute;
    right: 40px;
    top: 0;
    transform: rotate(45deg);
    transition: right .5s;
    width: 10px;
}

.button_more01 a:hover::before {
    right: 35px;
}

@media screen and (max-width:767px) {
    .button_more01 {
        display: none;
    }


    /* View Moreボタン 白文字 */
    .button_more02 a {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        color: #fff;
        border: solid 1px #fff;
        border-radius: 999px;
        display: block;
        box-sizing: border-box;
        max-width: 176px;
        text-align: center;
        padding: 24px 40px 24px 24px;
        margin-top: 24px;
        margin-inline: auto;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
    }

    .button_more02 a:hover {
        color: #A65871ff;
        background: #fff;
        transition: all 0.3s;
    }

    .button_more02 a::before {
        border-right: 1px solid #A65871ff;
        border-top: 1px solid #A65871ff;
        bottom: 0;
        content: "";
        height: 10px;
        margin: auto;
        position: absolute;
        right: 40px;
        top: 0;
        transform: rotate(45deg);
        transition: right .5s;
        width: 10px;
    }

    .button_more02 a:hover::before {
        right: 35px;
    }


    /* お問い合わせボタン */
    .button_contact>a {
        font-size: 24px;
        color: #fff;
        border: solid 1px #fff;
        border-radius: 999px;
        display: block;
        box-sizing: border-box;
        max-width: 240px;
        text-align: center;
        padding: 24px 40px 24px 24px;
        margin-top: 24px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
    }

    .button_contact>a:hover {
        color: #A65871;
        background: #fff;
        transition: all 0.3s;
    }

    .button_contact>a::before {
        border-right: 1px solid #A65871;
        border-top: 1px solid #A65871;
        bottom: 0;
        content: "";
        height: 10px;
        margin: auto;
        position: absolute;
        right: 40px;
        top: 0;
        transform: rotate(45deg);
        transition: right .5s;
        width: 10px;
    }

    .button_contact>a:hover::before {
        right: 35px;
    }